body {
    background-color: white;
}

#container {
    background-color: white;
}

#controlAddin {
    width: 100%;
    background-color: white;
}

div {
    background-color: white;
    margin: auto;
    width: fit-content;
}

.cover-img-container {
    margin: 0pt !important;
}

.ms-nav-edit-control-container {
    margin: 0pt !important;
}

img {
    width: 100%;
    height: 100%;
    background-color: white;
}