::-webkit-input-placeholder {
    font-family: 'Segoe UI';
    font-size: 10.5pt !important; 
}

::-moz-placeholder {
    font-family: 'Segoe UI';
    font-size: 10.5pt !important;
}

:-ms-input-placeholder {
    font-family: 'Segoe UI';
    font-size: 10.5pt !important;
}

input:-moz-placeholder {
    font-family: 'Segoe UI';
    font-size: 10.5pt !important;
}

* {
    outline: 0 !important;
}

thead th {
    font-weight: bold !important;
}

body {
    font-family: 'Segoe UI';
    font-size: 10.5pt !important;
    margin: 0px;
}

#container {
    width: 100%;
}